* {
    box-sizing:border-box;
    margin:0; 
    padding:0; 
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #747980;
}

header h1 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
    font-weight: bold;
}

header img {
    height: 50px;
}

header .info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--main-color);
}

header .logo {
    margin-left: 40px;
}

header .contacts {
    margin-right: 30px;
    text-align: right;
}

header .logo a,
header .contacts a {
    color: var(--main-color);
    text-decoration: none;
}

header .contacts a:hover {
    font-weight: bold;
}



nav ul {
	height: 40px;
	display: flex;
    justify-content: center;
	align-items: center;
    margin: 10px auto 0;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
	display: block;
	padding: 0 30px;
	font-size: 20px;
	box-sizing: border-box;
}
nav ul li a:link,
nav a:visited {
	color: var(--main-color);
	text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover,
nav ul li a.active {
    color: teal;
}


main {
    width: 80vw;
    margin: auto;
}


footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--main-color);
    text-align: center;
    color: #ffff;
}


@media(max-width: 756px) {
    header h1 {
        font-size: 20px;
    }    
    header img {
        height: 40px;
    }    
    header .logo {
        margin-left: 30px;
    }   
    header .contacts {
        margin-right: 20px;
        text-align: right;
    }
}

@media(max-width: 576px) {
    header .info {
        display: unset;
    }
    header h1 {
        font-size: 16px;
    }    
    header .contacts {
        display: flex;
        margin-top: 5px;
        padding: 5px;
        font-size: 14px;
    }
    header .contacts h3 {
        display: none;
    }
    header .contacts p, 
    header .contacts a {
        margin-left: 18px;
    }
    footer {
        font-size: 14px;
    }
}