* {
    box-sizing:border-box;
    margin:0; 
    padding:0; 
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    height: 50px;
}

header .info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #747980;
}

header .logo {
    margin-left: 40px;
}

header .contacts {
    margin-right: 30px;
    text-align: right;
}

header .logo a,
header .contacts a {
    color: #747980;
    text-decoration: none;
}

header .contacts a:hover {
    font-weight: bold;
}



nav ul {
	height: 40px;
	display: flex;
    justify-content: center;
	align-items: center;
    margin: 10px auto 0;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
	display: block;
	padding: 0 30px;
	font-size: 20px;
	box-sizing: border-box;
}
nav ul li a:link,
nav a:visited {
	color: #747980;
	text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover,
nav ul li a.active {
    color: teal;
}


main {
    width: 80vw;
    margin: auto;
}


footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #747980;
    text-align: center;
    color: #ffff;
}