* {
    box-sizing:border-box;
    margin:0; 
    padding:0; 
}

/* html, body {height:100%;	width:100%; text-align:center;} */

header {
    height: 280px;
    border: 1px solid red;
    background-image: url("../img/main_bg.jpg");
}

header img {
    height: 50px;
}

.info {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.logo {
    margin-top: 30px;
    margin-left: 150px;
}

.contacts {
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
}

nav {
	height: 40px;
	display: flex;
	align-items: center;
	width: 565px;
    position: relative;
    margin: 115px 200px auto auto;
    border: 1px solid red;
}

nav a {
	display: block;
	padding: 0 20px;
	font-size: 19px;
	box-sizing: border-box;
}

nav a:link,
nav a:visited {
	color: #1e5d64;
	text-decoration: none;
}

nav a:hover,
nav a.active {
	background-color: #8abb6a;
	line-height: 40px;
}

footer {
    background-image: url("../img/footer_bgr.png");
    border: 1px solid red;
    /* height: 165px; */
    /* height: 100%; */
    margin-top: auto;
    margin-bottom: 0;
}

footer img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    margin-right: 30px;
}

footer h3 {
    margin-top: 70px;
    text-align: center;
}
footer h4 {
    margin-top: 10px;
    text-align: center;
}

footer .logos {
    display: flex;
	align-items: center;
}