main {
    width: 90vw;
    padding: 0;
    position: relative;
}

.tabcontainer {
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
}

.tabcontent {
    width: 80%;
}

.tabcontent__img img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.tabcontent__descr {
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
}

.tabheader {
    width: 20%;
    padding: 30px 30px;
}

.tabheader__items {
    padding-left: 26px;
    border-left: 1px solid #747980
}

.tabheader__item {
    font-size: 18px;
    margin-top: 15px;
    color: #747980;
    cursor: pointer;
    transition: .3s all
}

.tabheader__item:hover {
    font-weight: bold;
}

.tabheader__item_active {
    color: teal;
    font-size: 20px;
    font-weight: 700
}

.hide {
    display: none
}



@media(max-width: 1199px) {
    .tabcontent {
        width: 75%;
    }
    .tabheader {
        width: 25%;
        padding: 30px 20px;
    }
}


@media(max-width: 992px) {
    .tabcontent {
        width: 60%;
    }
    .tabheader {
        width: 40%;
        padding: 30px 10px;
    }
    .tabheader__item {
        font-size: 16px;
    }
    .tabcontent__descr {
        font-size: 18px;
        text-align: left;
    }
}


@media(max-width: 576px) {
    main {
        width: 95%;
    }
    .tabcontent img {
        display: none;
    }
    .tabheader__item {
        font-size: 14px;
    }
    .tabcontent__descr {
        font-size: 14px;
    }
}