main {
    width: 90vw;
    padding: 0;
    padding-bottom: 100px;
    position: relative;
    margin-bottom: 50px;
}

.container {
    margin-bottom: 50px;
}

.tabcontainer {
    display: flex;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
}

.tabcontent {
    width: 100vw;
    position: relative;
}

.tabcontent img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.tabcontent__descr {
    position: absolute;
    width: 100%;
    background: #0370577c;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(0, 0, 0, .7);
    text-align: justify;
}

.tabheader {
    width: 280px;
    height: 70vh;
    padding: 35px 30px;
    background-color: #fff
}

.tabheader__items {
    margin-top: 10px;
    padding-left: 26px;
    border-left: 1px solid #747980
}

.tabheader__item {
    font-weight: 700;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    color: #747980;
    cursor: pointer;
    transition: .3s all
}

.tabheader__item:hover {
    font-weight: bold;
}

.tabheader__item_active {
    color: teal;
    font-size: 20px;
    font-weight: 700
}

.hide {
    display: none
}