
.wrapper {
    margin: 0 0 20px 0;
    background-color: rgb(90, 98, 105);
    /* background-color: slategray; */
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slide {
    height: 39vh;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    color: #ffff;
    flex: 2;
    background-size:contain;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 700ms ease-in-out;
}

.slide.active {
    flex: 14;
}

.slide h3 {
    position:absolute;
    font-size: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}



footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #747980;
    text-align: center;
    color: #ffff;
}